# Python Files
**/__pycache__
*.py[cod]
/.vscode
**/*.egg-info

# Notebooks
notebooks
scripts
old

# Training Checkpoints/Logs
exp/runs
exp/slurm
exp/logs

# Experiments
reproduce_results/classification/exp/
