# Python Files
**/__pycache__
*.py[cod]
/.vscode
**/*.egg-info

# Notebooks
notebooks
scripts
old

# Training Checkpoints/Logs
exp/runs
exp/slurm
exp/logs

# Experiment Logs
reproduce_results/classification/exp/genre_class
reproduce_results/classification/exp/inst_class
reproduce_results/sweep/exp
