# Python Files
**/__pycache__
*.py[cod]
/.vscode
**/*.egg-info

# Training Checkpoints/Logs
exp/runs
exp/slurm
exp/logs

# Experiment Logs
reproduce_results/classification/exp/genre_class
reproduce_results/classification/exp/inst_class
reproduce_results/classification/exp/runs
reproduce_results/sweep/exp
reproduce_results/cond_and_blend/exp
